<div *ngIf="mode == 'show'">
  <dl>
    <dt>Name:</dt>
    <dd>{{playlist.name}}</dd>
    <dt>Favourite:</dt>
    <dd>{{playlist.favourite? 'Yes' : 'No'}}</dd>
    <dt>Color:</dt>
    <dd [style.backgroundColor]="playlist.color">{{playlist.color}}</dd>
  </dl>  
  <input type="button" class="btn btn-info" value="Edit" (click)=edit()>
</div>

<div *ngIf="mode == 'edit'">
  <div class="form-group">
    <label for="">Name:</label>
    <input type="text" class="form-control" 
    [(ngModel)]="playlist.name">
  </div>
  <div class="form-group">
    <label for="">Favourite:</label>
    <input type="checkbox" 
    [(ngModel)]="playlist.favourite">
  </div>
  <div class="form-group">
    <label for="">Color:</label>
    <input type="color" 
    [(ngModel)]="playlist.color">
  </div>
  <input type="button" class="btn btn-danger" value="Cancel" (click)=cancel()>
  <input type="button" class="btn btn-success" value="Save" (click)=save()>
</div>