<div>
  <dl>
    <dt>Name:</dt>
    <dd>{{playlist.name}}</dd>
    <dt>Favourite:</dt>
    <dd>{{playlist.favourite? 'Yes' : 'No'}}</dd>
    <dt>Color:</dt>
    <dd [style.backgroundColor]="playlist.color">{{playlist.color}}</dd>
  </dl>  
</div>

<div>
  <div class="form-group">
    <label for="">Name</label>
    <input type="text" class="form-control" 
    [ngModel]="playlist.name"
    (ngModelChange)="playlist.name = $event">
  </div>
  <div class="form-group">
    <label for="">Favourite</label>
    <input type="checkbox" 
    [ngModel]="playlist.favourite"
    (ngModelChange)="playlist.favourite = $event">
  </div>
  <div class="form-group">
    <label for="">Color</label>
    <input type="color" 
    [ngModel]="playlist.color"
    (ngModelChange)="playlist.color = $event">
  </div>
</div>