<form class="form-group mb-3" [formGroup]="queryForm">
  <input type="text" class="form-control" placeholder="Search" formControlName="query">
  <div *ngIf="queryForm.pending">Please wait...</div>
  <ng-container *ngIf="queryForm.get('query').touched || queryForm.get('query').dirty">
    <div *ngIf="queryForm.get('query').hasError('required')">
      Field is required
    </div>
    <div *ngIf="queryForm.get('query').getError('minlength') as error">
      Field is requires {{error.requiredLength}} characters
    </div>
    <div *ngIf="queryForm.get('query').hasError('censor')">
      Field should not contain 'batman'
    </div>
  </ng-container>
</form>
