<nav class="navbar navbar-expand navbar-dark bg-dark mb-3">
  <a class="navbar-brand" href="#">AngularSpotifyApp</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/music">Music</a>
        <!-- <a class="nav-link"  href="#/music">Music</a> -->
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/playlists">Playlists</a>
          <!-- <a class="nav-link" href="#/playlists">Playlists</a> -->
        </li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col">
      <router-outlet></router-outlet>
      <!-- <h1>
        Welcome to {{ title }}!1
      </h1>
      <app-playlists></app-playlists>
      <app-music-search></app-music-search>   -->
    </div>    
    <!-- <div class="col">
      <h1>
        Welcome to {{ title }}!2
      </h1>
      <app-music-search></app-music-search>
    </div>  -->
  </div>
</div>