<div class="container">
  <div class="row">
    <div class="col">
      <!-- <app-item-list [items]="playlists" 
      [selected]="selected" 
      (selectedChange)="selected = $event">
      </app-item-list> -->
      <!-- the same as above: -->
      <app-item-list [items]="playlists" 
      [(selected)]="selected">
        </app-item-list>
    </div>
    <div class="col">
      <app-playlist-details [playlist]="selected" (save)="savePlaylist($event)">
      </app-playlist-details>
    </div>
  </div>
</div>